

.grid-container {
    display: grid;
    
  }
  
  .item1 {
    grid-area: 1 / 1 / 1 / 3;
    height:80px;
    background-color: red;
    text-align: center;
  }
    
.item2 {
    margin:0px;
    padding:10px;
    height:75vh;
    width:20vw;

    overflow-x: scroll; 
    overflow-y: scroll; 

    background-color: darkviolet;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
 
}

.item3 {  
    margin:0px;
    padding:10px;
    height:75vh;
    width:78vw;

    overflow-x: scroll; 
    overflow-y: scroll; 

    background-color: lightgreen;
}   

div:not(.parent){
    margin:10px;
    margin-left:0px;
}
